<div class="page-header">
  <%= link_to new_winner_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Winner
  <% end %>
  <h1>Listing winners</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Petid</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @winners) do |winner| %>
            <td><%= winner.name %></td>
            <td><%= winner.petid %></td>
            <td><%= link_to 'Show', winner %></td>
        <td><%= link_to 'Edit', edit_winner_path(winner) %></td>
        <td><%= link_to 'Destroy', winner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
