

<div class="row">
  <div class="col-md-12">
    <div class="well well-lg">
      <h2>Lucky Name List</h2>
      <ul class="list-group front-list">
        <% @winners.each_with_index do |winner,index| %> 
        <% x = (41 - (@winners.count - index)) %>
          <li class="list-group-item"> 
              Prize number <%= x %> : 
              <%= winner.name %>&#09;

              <% if user_signed_in? && current_user.super_admin? %>
                <%= link_to 'Show', winner %>&#09;
                <%= link_to 'Edit', edit_winner_path(winner) %>&#09;
                <%= link_to 'Destroy', winner, method: :delete, data: { confirm: 'Are you sure?' } %>&#09;
              <% end %>
          </li>
        <% end %>
      </ul> 

    </div>
  </div>
</div>