<!DOCTYPE html>
<html>
<head>
	<title>Luckydraw</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<%= render 'layouts/navigation' %>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<% if notice %>
				<p class="alert alert-success"><%= notice %><a href="#" class="close" data-dismiss="alert">&#215;</a></p>
				
			<% end %>
			<% if alert %>
				<p class="alert alert-danger"><%= alert %><a href="#" class="close" data-dismiss="alert">&#215;</a></p>
				
			<% end %>
		</div>
	</div>
	<div class="container">
	<%= yield %>
	</div>
</body>
</html>
